@()


@main("Dashboard","Dashboard")   {



<script src="@routes.Assets.versioned("dist/js/AgoraRTCSDK-2.3.1.js")"></script>

    <section class="content-header">
      <h1>
          teaching
      </h1>
    </section>

    <section class="content container-fluid">
      <div class="box box-primary"> 
        <div class="box-body">

        <table class="computers zebra-striped" width="100%">
            <tbody>

                    <tr >
                            <td >

                               

                                <div id="div_device" class="panel panel-default">
                                    <div class="select">
                                        <label for="audioSource">Audio source: </label><select id="audioSource"></select>
                                        &nbsp; <label for="videoSource">Video source: </label><select id="videoSource"></select>

                                        
                                    </div>

                                </div>

                                <div id="div_join" class="panel panel-default">
                                    <div class="panel-body">
                                       <input id="key" type="hidden" value="8fff9fa7f6824e489b04f658a43394e6" size="36"></input>

                                        <input id="channel" type="hidden" value="clover" size="4"></input>

                                        <!-- Host: <input id="video" type="checkbox" checked></input> -->

                                       <!--  -->

                                        

                                    <div id="video" style="margin:0 auto;">
                                        <div id="agora_local" style="float:left;width:210px;height:147px;display:inline-block;"></div>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <button id="leave" class="btn btn-primary" onclick="leave()">I want to Leave</button>

                                    </div>
                                </div>


                            </td>


                    </tr>
            </tbody>
        </table> 


        </div>
      </div>


    </section>

<script language="javascript">

if(!AgoraRTC.checkSystemRequirements()) {
  alert("browser is no support webRTC");
}


var client, localStream, camera, microphone;

var audioSelect = document.querySelector('select#audioSource');
var videoSelect = document.querySelector('select#videoSource');
//-----------------------------
function join() {
  //document.getElementById("join").disabled = true;
  //document.getElementById("video").disabled = true;
  var channel_key = null;

  console.log("Init AgoraRTC client with vendor key: " + key.value);

  client = AgoraRTC.createClient({mode: 'interop'});

  client.init(key.value, function () {
    console.log("AgoraRTC client initialized");

    client.join(channel_key, channel.value, null, function(uid) {

      console.log("---------------------------------");
      console.log("User " + uid + " join channel successfully");
      console.log("---------------------------------");
      var isVideo = true;
      if (isVideo) {
        camera = videoSource.value;
        microphone = audioSource.value;


        localStream = AgoraRTC.createStream({streamID: uid, audio: true, cameraId: camera, microphoneId: microphone, video: true, screen: false});
        //localStream = AgoraRTC.createStream({streamID: uid, audio: false, cameraId: camera, microphoneId: microphone, video: false, screen: true, extensionId: 'minllpmhdgpndnkomcoccfekfegnlikg'});
        if (isVideo) {
          localStream.setVideoProfile('720p_3');

        }

        // The user has granted access to the camera and mic.
        localStream.on("accessAllowed", function() {
          console.log("accessAllowed");
        });

        // The user has denied access to the camera and mic.
        localStream.on("accessDenied", function() {
          console.log("accessDenied");
        });

        localStream.init(function() {
          console.log("getUserMedia successfully");
          localStream.play('agora_local');

          client.publish(localStream, function (err) {
            console.log("Publish local stream error: " + err);
          });

          client.on('stream-published', function (evt) {
            console.log("Publish local stream successfully");
          });
        }, function (err) {
          console.log("getUserMedia failed", err);
        });
      }
    }, function(err) {
      console.log("Join channel failed", err);
    });
  }, function (err) {
    console.log("AgoraRTC client init failed", err);
  });

  channelKey = "";
  client.on('error', function(err) {
    console.log("Got error msg:", err.reason);
    if (err.reason === 'DYNAMIC_KEY_TIMEOUT') {
      client.renewChannelKey(channelKey, function(){
        console.log("Renew channel key successfully");
      }, function(err){
        console.log("Renew channel key failed: ", err);
      });
    }
  });


  client.on('stream-added', function (evt) {
    var stream = evt.stream;
    console.log("New stream added: " + stream.getId());
    console.log("Subscribe ", stream);
    client.subscribe(stream, function (err) {
      console.log("Subscribe stream failed", err);
    });
  });

  client.on('stream-subscribed', function (evt) {
    var stream = evt.stream;
    console.log("Subscribe remote stream successfully: " + stream.getId());
    if ($('div#video #agora_remote'+stream.getId()).length === 0) {
      $('div#video').append('<div id="agora_remote'+stream.getId()+'" style="float:left; width:810px;height:607px;display:inline-block;"></div>');
    }
    stream.play('agora_remote' + stream.getId());
  });

  client.on('stream-removed', function (evt) {
    var stream = evt.stream;
    stream.stop();
    $('#agora_remote' + stream.getId()).remove();
    console.log("Remote stream is removed " + stream.getId());
  });

  client.on('peer-leave', function (evt) {
    var stream = evt.stream;
    if (stream) {
      stream.stop();
      $('#agora_remote' + stream.getId()).remove();
      console.log(evt.uid + " leaved from this channel");
    }
  });
}



function leave() {
  document.getElementById("leave").disabled = true;
  client.leave(function () {
    console.log("Leavel channel successfully");
    location.href="/dashboard/index";
  }, function (err) {
    console.log("Leave channel failed");
  });
}



function getDevices() {
  AgoraRTC.getDevices(function (devices) {
    for (var i = 0; i !== devices.length; ++i) {
      var device = devices[i];
      var option = document.createElement('option');
      option.value = device.deviceId;
      if (device.kind === 'audioinput') {
        option.text = device.label || 'microphone ' + (audioSelect.length + 1);
        audioSelect.appendChild(option);
      } else if (device.kind === 'videoinput') {
        option.text = device.label || 'camera ' + (videoSelect.length + 1);
        videoSelect.appendChild(option);
      } else {
        console.log('Some other kind of source/device: ', device);
      }
    }
  });
}


getDevices();

join();
</script>

}